<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Dentist Landing</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/css/foundation.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/css/twentytwenty.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="hero" style="background-image: url('https://images.unsplash.com/photo-1486049252259-45184399c5b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c7b20ab6b8d2081dc48971a3e67db67d&auto=format&fit=crop&w=1650&q=80');">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-8">
        <div class="hero__content">
          <p class="lead">ONLY ONE KIND OF TREATEMENT</p>
          <h1 class="display-1">YOUR NEW SMILE</h1>
          <a href='#' class="btn btn--white btn--x-large">DISCOVER</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero-over-card__section">
  <div class="container">
    <div class="row">
      <div class="offset-md-4 col-md-8 offset-lg-6 col-lg-6 offset-xl-6 col-xl-5">
        <div class="hero-over-card">
          <div class="hero-over-card__content">
            <h1 class="display-4">Plan Your <br> Visit Now</h1>
            <p>Begin the Change</p>
            <a href="/contact" class="btn btn--accent btn--filled btn--large">BOOK NOW!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="overlap-images back-dots">
        <img src="https://images.unsplash.com/photo-1495573020741-8a2f372bbec3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d4de8f72a6136a07b5892d81eda479bc&auto=format&fit=crop&w=500&q=60" alt="">
        <img src="https://images.unsplash.com/photo-1522097564775-a638360455cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b88f256d95b1ef21167431eb91061f8f&auto=format&fit=crop&w=500&q=60" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <h1 class="display-4">A Warm <strong>Welcome</strong> and a <strong>Beautiful Smile</strong></h1>
      <p class="lead">Our clients are our priority, we offer quality dental services with a team of specialists. More details about our services below.</p>
      <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
      <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
    </div>
  </div>
</div>

<div class="section random-people py-5">
  <div class="container back-dots white-box-1">
    <div class="row">
      <div class="col-md col-6 pt-3">
        <div class="random-people__image-wrapper">
          <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a3fa46375259c39d07d0227e8ade6daa&auto=format&fit=crop&w=400&h=800&q=60" alt="">
        </div>
      </div>
      <div class="col-md col-6 pt-1">
        <div class="random-people__image-wrapper">
          <img src="https://images.unsplash.com/photo-1489424731084-a5d8b219a5bb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=214b5beac96f7d680a19b3836b28ccc3&auto=format&fit=crop&w=400&h=800&q=60" alt="">
        </div>
      </div>
      <div class="col-md col-6 pt-2">
        <div class="random-people__image-wrapper">
          <img src="https://images.unsplash.com/photo-1519063358282-1b7f996c7ee9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=782fea542836164b7291aa8154f0000d&auto=format&fit=crop&w=400&h=800&q=60" alt="">
        </div>
      </div>
      <div class="col-md col-6">
        <div class="random-people__image-wrapper">
          <img src="https://images.unsplash.com/photo-1520810627419-35e362c5dc07?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=03972168b272736a7332fcea693071ff&auto=format&fit=crop&w=400&h=800&q=60" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<section class="about-our-dentist py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 back-dots">
        <img class="cool-shadow" src="https://images.unsplash.com/photo-1486049125644-f35e226a5e14?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=abb2fb48d11818b6d96051d5bf688fcd&auto=format&fit=crop&w=500&h=800&q=80" alt="">
      </div>
      <div class="col-md-6 offset-md-0 col-xl-4 offset-xl-1">
        <div class="layout-2__content">
          <div class="random-blocks">
            <span class="block-1"></span>
            <span class="block-2"></span>
            <span class="block-3"></span>
          </div>
          <h1 class="display-4"><strong>About Our Dentist Clinic</strong></h1>
          <hr>
          <p class="lead">Our clients are our priority, we offer quality dental services with a team of specialists. More details about our services below.</p>
          <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
          <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="layout-4 py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="layout-4__content">
          <div class="content__random-block"></div>
          <h1 class="display-4">Discover <br><strong>The Dental Clinic</strong></h1>
          <hr>
          <p class="lead">Our clients are our priority, we offer quality dental services with a team of specialists. More details about our services below.</p>
          <button class="btn btn--accent btn--large" >Request Appointment</button>
        </div>
      </div>
      <div class="col-lg-7 back-dots">
        <div class="layout-4__icons">
          <span>
            <i class="fa fa-user-md fa-3x" aria-hidden="true"></i>IMPLANTS
          </span>
          <span>
            <i class="fa fa-bath fa-3x" aria-hidden="true"></i>GUM
          </span>
          <span>
            <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>ROOTS
          </span>
          <span>
            <i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i>X-RAY
          </span>
          <span>
            <i class="fa fa-id-card fa-3x" aria-hidden="true"></i>WHITENING
          </span>
          <span>
            <i class="fa fa-american-sign-language-interpreting fa-3x" aria-hidden="true"></i>PREVENTION
          </span>
          <span>
            <i class="fa fa-braille fa-3x" aria-hidden="true"></i>CARIES
          </span>
          <span>
            <i class="fa fa-gg fa-3x" aria-hidden="true"></i>IDOCTOR
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="layout-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="layout-5__before-after">
          <img src="https://demo.curlythemes.com/dentist-wp/wp-content/uploads/sites/22/2017/06/before-1-1024x355-1024x355.jpg" alt="">
          <img src="https://demo.curlythemes.com/dentist-wp/wp-content/uploads/sites/22/2017/06/after-1-1024x355-1024x355.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


<section class="map-1 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-3 mb-5 text-center">Getting Here</h1>
          <!-- Embed Google Maps Start -->
          <iframe id="google-map" width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=Patras&layer=tc&t=m&z=13&source=embed&output=svembed"></iframe>
          <!-- Embed Google Maps End -->
          <!--Parameters:
          ---------------------
          q= enter full address here or latitude+longitude e.g. (street name, city, county/state, country)
          layer= (t = traffic | c = streetview | tc = both) - show map layer type
          t= (m = normal map | k = satellite | h = hybrid | p = terrain) - Sets the kind of map shown
          z= (1 - 23) - map zoom level. 23 value indicates fully zoomed in. (default is 18)
          width= (value) - height of gmaps
          height= (value) - width of gmaps-->
      </div>
    </div>
  </div>
</section>

<section class="moving-bg my-5" style="background-image: url('http://demo.curlythemes.com/dentist-wp/wp-content/uploads/sites/22/2017/06/Seamlessteethlight-bluepattern_d9c7faf5-9516-4c8b-af46-05a4aa273320-2.png?id=886');">
  <p class="lead lead-lg">You can <strong>call our front desk at  1 820 34 2301</strong> Mon – Fri 9am – 8pm, email us at <br> support@curlythemes.com or fill the Contact Form</p>
</section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.event.move.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.twentytwenty.min.js'></script><script  src="./script.js"></script>

</body>
</html>
